
.div_rigth{
    float: left;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr  ; /* 1fr은 동일한 비율로 2개의 컬럼을 만듭니다. */
    gap: 10px; /* 컨테이너 사이의 간격 */
    
}
.table_set{
    border-collapse: collapse;
    width: 800px;
}


.list{
    position: absolute; left: 65px; top: 100px;
    height: 60px;
    width: 100px;
}
.log{
    position: absolute; left: 65px; top: 180px;
    height: 60px;
    width: 10o. 0px;
}
.table_st{
    padding: 10px;
    background-color: grey;
    text-align: center;
    color: aliceblue;   
}
.row_st{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444444;
}